body {
    margin: 0;
}
.section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-wrapper {
    width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
    .section-wrapper {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.section-trending {

}

.slider-cnt {

}

.slider-img {
    width: 100%;
}

@media only screen and (min-width: 480px) {
    .slider .slider-item:not(:last-child) {
        margin-right: 20px;
    }
}
