*{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
}

.header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100000;
    overflow: hidden;
    a{
        text-decoration: none;
    }
    &__top{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        &__wraper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0;
            width: 1200px;
            height: 42px;
        }
    }
    &__bottom{
        display: flex;
        justify-content: center;
        background-color: #fff;
        width: 100%;
        nav{
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            margin-bottom: 15px;
            border-top: 0.2px solid #DADADA;
            width: 1200px;
            a{
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #5C5C5C;
            }
            a:hover{
                color: #FE5269;
            }
        }
        
    }
    &__under-bottom{
        height: 25px;
        width: 1440px;
        color: #ffffff;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        z-index: 1;
        span{
            font-weight: 600;
            margin-left: 7px;
        }
    }
}

.logo{
    width: 235px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.05em;
    transition: 0.3s;
    a{
        color: #2C1A2F
    }
}

.logo:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.phone_number{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: 0.3s;
    .phone_img{
        width: 15px;
        height: 15px;
        margin-right: 9px;
        img{
            width: 100%;
        }
    }
    a{
        color: #5C5C5C;
    }
    
}

.phone_number:hover{
    transform: scale(1.05);
    cursor: pointer;
    a{
        color: #FE5269;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}
.main-inp{
    position: relative;
    input{
        width: 481px;
        height: 42px;
        box-sizing: border-box;
        border: 0.5px solid #BCBCBC;
        outline: none;
        padding-left: 15px;
        
    }
    .search-img{
        position: absolute;
        width: 19px;
        height: 19px;   
        top: 11.5px;
        right: 15px;
        transition: 0.3s;
    }
    img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}

.header-icons{
    display: flex;
    justify-content: space-between;
    width: 142px;
    height: 24px;
    img{
        width: 24px;
        height: 24px;
        transition: 0.3s;
    }
    img:hover{
        transform: scale(1.2);
    }
}

// MAIN

.hero{
    position: relative;
    height: 630px;
    width: 1440px;
    img{
        position: absolute;
        top: -110px;
        z-index: 0;
    }
    &__text{
        position: absolute;
        top: 53px;
        left: 120px;
        width: 525px;
        height: 230px;
        h1{
            font-weight: 500;
            font-size: 48px;
            line-height: 59px;
            text-decoration-line: underline;
            font-style: normal;
            letter-spacing: normal;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #494949;
        }
        a{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            text-decoration-line: underline;
            color: #000000;
            transition: 0.3s;
        }
        a:hover{
            transform: scale(1.5);
        }
    }
}

    .most_popular{
        margin: 50px 0 180px 0;
        // .one{
        //   background: rgba(0, 0, 0, 0.90);
        // }
        button{
            width: 186px;
            height: 44px;
            margin: 100px 0 0 37px;
            cursor: pointer;
        }
        .slider-header-cnt a{
        width: 186px;
        height: 44px;
        }
        .slider-header-cnt img{
        padding-left:230px;
            }
        h2{
            display: flex;
            justify-content: center;
            font-weight: 500;
            font-size: 48px;
            line-height: 59px;
            text-decoration-line: underline;
            font-style: normal;
            letter-spacing: normal;
        }
        p{
            display: flex;
            justify-content: center;
            margin-top: 100px;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0.05em;    
            text-decoration-line: underline;
            color: #FE5269;        
            cursor: pointer;
        }
    }


    .lorem{
        display: flex;
        flex-direction: row;
        min-height: 591px;
        background-color: #262020;

        .star{
            position: relative;
            width: 129px;
            height: 129px;
            transform: translateX(80px) translateY(80px);

            &__text{
                position: absolute;
                top: 50px;
                right: 25px;
                color: #fff;
                transform: rotate(-10deg);
            }
            h3{
                font-size: 24px;
                margin: 0;
            }
            p{
                text-align: center;
                font-size: 10px;
                margin: 0;
            }
        }
        .lorem__img-left{
            transform: translateY(370px);
        }
        &__text{
            margin: 140px 200px 0 100px;
            text-align: left;
            color: #fff
        }
        h2{
            font-size: 38px;
            text-decoration-line: underline;
        }
        p{
            font-size: 16px;
        }
        a{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            text-decoration-line: underline;
            color: #FE5269;
            transition: 0.3s;
        }
        
        .lorem__img-main{
            width: 455px;
            height: 455px;
            margin-top: 50px;
        }
        .lorem__img-right{
            width: 133px;
            height: 170px;
            transform: translateY(340px) translateX(-70px);
        }
    }

    .shop__by-category{
        margin-bottom: 50px;
        h1{
            display: flex;
            justify-content: center;
            margin-top: 60px;
            font-size: 38px;
            text-decoration-line: underline;
        }
        .shop__img{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .text{
                position: absolute;
                width: 186px;
                height: 44px;
                color: #000;
                background-color: #fff;
                display: flex;
                justify-content: center;
                margin-top: 140px;
                margin-left: 38px;
                p{
                    font-size: 12px;
                    font-weight: 500;
                }
            }
            .img{
                width: 270px;
                height: 315px;
                margin: 20px;
            }
            .img:hover{
                transform: scale(1.1);
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }

    .section_four{
        display: flex;
        flex-direction: row;
        min-height: 591px;
        background-color: #262020;

        &__text{
            margin: 100px 200px 0 200px;
            text-align: left;
            color: #fff
        }
        h2{
            font-size: 38px;
            text-decoration-line: underline;
        }
        p{
            font-size: 16px;
        }
        a{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            text-decoration-line: underline;
            color: #FE5269;
            transition: 0.3s;
        }

        &__main{
            height: 451px;
            width: 451px;
            margin: 80px 0 0 80px;
        }

        &__right{
            transform: translateY(390px) translateX(-35px);
            img{
                position: absolute;
                width: 144px;
                height: 184px;
            }
        }
        .border_two{
            height: 142px;
            width: 111px;
    }
}

    .trending_now{
        margin: 50px 0 50px 0;
        h2{
            display: flex;
            justify-content: center;
            font-size: 38px;
            font-style: normal;
            font-weight: 500;
            line-height: 46px;
            text-decoration-line: underline;
        }
        p{
            display: flex;
            justify-content: center;
            margin-top: 100px;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0.05em;    
            text-decoration-line: underline;
            color: #FE5269;    
            cursor: pointer;    
        }
        .slider-header-cnt img{
            padding-left:230px;
                }
    }

    .revievs{
        display: flex;
        flex-direction: row;
        background-color:#262020;
        height: 591px;
        max-width: 1440px;
        &__cnt{
            margin:80px 100px 0 150px;
            width: 230px;
            h3{
        font-size: 38px;
        text-decoration-line: underline;
        font-style: normal;
        font-weight: 500;
        line-height: 56px;
        color: #fff;
        
            }
            p{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #E7E7E7;
            }
        }
        &__slider{
            display: flex;
            flex-direction: row;
            .slick-arrow{
                position: absolute;
                z-index: 2; 
                width: 48px; 
                height: 48px;
                background-color: #272727;
                border-radius: 50%;
              }
        }
        .slick-prev{
            top: 380px;
            left: -340px;
        }
        .slick-next{
            top: 380px;
            left: -270px;
        }
        &__slider_container{
            display: flex;
            flex-direction: row;
            max-width: 978px;
        }
        &__slider_cnt{
            display: flex;
            flex-direction: column;
            margin: 110px 20px 0 0;
            border: 1px solid #fff;
            background-color: #fff;
            width: 443px;
            height: 309px;
            img{
                height: 68px;
                width: 68px;
                transform: translateY(-42px) translateX(27px);
            }
            img:last-child{
                height: 110px;
                width: 81px;
                transform: translateY(-45px) translateX(350px);
            }
            h3{
                margin: 0 0 0 20px;
            }
            p{
                text-transform: capitalize;
                margin: 42px 0 0 20px;
            }
        }
    }

    .follow_our_instagram{
        display: flex;
        flex-direction: column;
        min-height: 613px;
        margin: 50px 0 150px 0;  
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: 38px;
                text-decoration-line: underline;
            }
            h5{
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                a{
                    text-decoration: none;
                    color: #FE5269;
                }
            }
        }
        &__img{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img{
                width: 240px;
                height: 240px;
            }
        }
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:#262020;
        max-width: 1440px;
        margin: 0 auto;
        margin-bottom: 20px;
        h5{
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.05em;
        }
        p{
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
        .eff p:hover{
            color: #FE5269;
            cursor: pointer;
        }
        &__text{
            margin: 20px 20px 20px 60px;
            width: 286px;
            // height: 198px;
            font-size: 14px;
            color: #fff;
            text-transform: capitalize;
            h5{
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
            }
        }
        &__shop{
            margin: 20px 50px 20px 60px;
            font-size: 14px;
            color: #fff;
        }
        &__help{
            margin: 20px 60px 20px 50px;
            font-size: 14px;
            color: #fff;
        }
        &__new-sletter{
            margin: 20px 60px 20px 0;
            font-size: 14px;
            color: #fff;
            text-transform: capitalize;
            .sbt{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 404px;
                height: 50px;
                border-radius: 100px;
                border: 2px solid #FE5269;
                background: rgba(254, 82, 105, 0.05);
                .input{
                    input{
                        background: rgba(254, 82, 105, 0.01);
                        border: none;
                        padding: 18px;
                        color: #fff;
                    }
                }
                .button{
                    input{
                        width: 150px;
                        height: 50px;
                        background-color: #FE5269;
                        border-radius: 100px;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                    }
                    }
            }
            .icons{
                display: flex;
                margin: 80px 0 0 265px;
                cursor: pointer;
                img{
                    width: 16px;
                    height: 16px;
                    padding: 10px;
                    margin-right: 15px;
                    border-radius: 50%;
                    background-color: #FE5269;
                    color: #fff;
                }
                img:hover{
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }
        }
    }
    

    .slider{
        display: flex;
        align-items: center;
        max-width: 1430px;
        .container h3{
                font-size: 16px;
        }
      }
      
      .slider-item {
        display: flex;
        flex-direction: row;
        width: 270px;
        height: 315px;
        background-size: cover;
        margin: 20px;
      }
      
      .slider .slick-arrow{
        position: absolute;
        top: 50%;
        margin: -15px 0 0 0; 
        z-index: 2; 
        font-size: 0; 
        width: 30px; 
        height: 30px;
        background-color: #272727;
        border-radius: 50%;
      }

  

